

<table class="table table-striped">
    <thead>
        <tr>
            <th>Full Name</th>
            <th>Email</th>
            <th>Mobile</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        {{!-- return la valeur de chaque item de list / list est retourné dans clientController --}}
        {{#each list}}
        <tr>
            
            <td>{{this.fullName}}</td>
             <td>{{this.email}}</td>
              <td>{{this.mobile}}</td>
              <td>
                  <a href="/client/{{this._id}}"> <button type="submit" class="modify">Modify</button></a>
                  <a href="/client/delete/{{this._id}}">  <button type="submit" class="delete">Delete</button></a>
              </td>

        </tr>
        {{/each}}

    </tbody>

</table>